<p id = "homepage-bodytext"></p>
<section class = "put-margin">
  <br><br>
  <h2 class = "BGSU-sign-up turn-color" id = "text-heading"><strong>Go Confirm Your Account And Then You Can Continue!</strong></h2>
  <p class = "text-sign-up turn-color" id = "text-heading">Please go to your email to confirm your account. If you need the email to be resent, submit this form.</p>

</section>

 <section class = "put-margin" id = "">
 <%= bootstrap_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {method: :post}) do |f| %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), label: "<span class = 'text-sign-up turn-color'>Email</span>".html_safe %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-info" %>
  </div>
<% end %>
</section>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
