<p id = "homepage-bodytext"></p>

<body>
<section class = "put-margin">
  <br><br>
  <h2 id = "text-heading"><strong>Password Reset Email Verification</strong></h2>

</section>
<br>
<br>
<section class = "put-margin">
	<%= form_tag('/forgot_password/forgot', :method => "get") do %>
  				<li class="input-group" style = "width: 400px;">
  					<!-- below is placeholder parameters and functions -->
    				<%= search_field_tag :search, params[:search], placeholder: 'email@example.com', class: "form-control" %>
    				<div class="input-group-btn">
      					<%= button_tag "Send", :class => 'btn-info btn',:name => nil%>
    				</div>
    			</li>
    <% end %>
</section>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
