<p id = "homepage-bodytext"></p>
<section class = "put-margin">
  <br><br>
  <h2 class = "BGSU-sign-up turn-color"><strong>Change Your Information</strong></h2>
  <p class = "text-sign-up turn-color">Here you can change all the information that you put it. Simply write into the field(s) you want to change and then
   put in your current password and it will be changed! If there are some field that you do not want to change, simply do not change them.</p>

</section>

<br>

<section class = "put-margin" id = "">
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :email, placeholder: 'Email', class: 'form-control', label: "<span class = 'text-sign-up turn-color'>Email</span>".html_safe %>
  <%= f.password_field :password, placeholder: 'Password', class: 'form-control', label: "<span class = 'text-sign-up turn-color'>Password</span>".html_safe %>
  <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control', label: "<span class = 'text-sign-up turn-color'>Password Confirmation</span>".html_safe %>

  <%= f.file_field :image, label: "<span class = 'text-sign-up turn-color'>Profile Picture</span>".html_safe, class: 'photo_upload', id: "text-heading" %>
  <%= f.text_field :firstname, as: :string, maxlength: 20, required: true, placeholder:  "Enter your first name", label: "<span class = 'text-sign-up turn-color'>First Name</span>".html_safe, id: "text-heading" %>
  <%= f.text_field :lastname, as: :string, maxlength: 20, required: true, placeholder:  "Enter your last name", label: "<span class = 'text-sign-up turn-color'>Last Name</span>".html_safe, id: "text-heading" %>
  <%= f.select :degrees, ['B.S. in Computer Science', 'B.A. in Computer Science', 'B.S. in Software Engineering', 'B.S. in Computer Science, Graduate', 'M.S. in Computer Science, Graduate', 'Other'],  label: "<span class = 'text-sign-up turn-color'>Highest Degree Earned at BGSU</span>".html_safe, id: "text-heading" %>
  <%= f.select :year, [1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019], label: "<span class = 'text-sign-up turn-color'>Year Graduated</span>".html_safe, id: "text-heading" %>

  <%= f.text_field :location, maxlength: 30, placeholder: 'Where you live', label: "<span class = 'text-sign-up turn-color'>Current Location</span>".html_safe, id: "text-heading" %>
  <%= f.text_area :bio, maxlength: 300, placeholder: 'Short description of yourself', id: "text-heading", label: "<span class = 'text-sign-up turn-color'>Bio</span>".html_safe %>
  <%= f.text_area :business, maxlength: 300, placeholder: 'Short description of where you work', id: "text-heading", label: "<span class = 'text-sign-up turn-color'>Business</span>".html_safe %>

  <%= f.check_box :share, label: "<span style = 'color: gray;' class = 'turn-color'>Would you like to share your information with other alumni?</span>".html_safe, id: "text-heading" %>
  <%= f.check_box :mentor, label: "<span style = 'color: gray;' class = 'turn-color'>Would you like to mentor current BGSU students?</span>".html_safe, id: "text-heading" %>
  <%= f.check_box :contact, label: "<span style = 'color: gray;' class = 'turn-color'>Would you like to be contacted?</span>".html_safe, id: "text-heading" %>
  <%= f.check_box :attending, label: "<span style = 'color: gray;' class = 'turn-color'>Will you be attending the 50th year anniversary event?</span>".html_safe, id: "text-heading" %>

  <br>

  <div class="field">
    <%= f.password_field :current_password, label: "<span class = 'text-sign-up turn-color'>Current Password (To confirm changes)</span><span class = 'red'> *</span>".html_safe, autocomplete: "current-password", id: "text-heading" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-info" %>
  </div>
<% end %>

<br>

<h3 style = "color: gray;" class = "turn-color">Cancel my account</h3>

<p class = "text-sign-up turn-color"> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-info" %></p>

</section>

<br><br>
