<section class = "put-margin">
  <br><br>
  <h2 class = "BGSU-sign-up turn-color"><strong>Sign Up! (Step 1 of 4)</strong></h2>
  <p class = "text-sign-up turn-color">To start your sign up we will need you to put in your email and password. This will be what you use to log in to your account and
    we will send you an email to register your account. Make sure you enter your real email and a password you remember.<br><br>Also, make sure your password is
    at least 6 digits long!</p>

</section>
<p id = "homepage-bodytext"></p>
<br>

 <section class = "put-margin" id = "">
 <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= f.text_field :email, placeholder: 'Email', class: 'form-control', label: "<span class = 'turn-color'>Email</span><span class = 'red'> *</span>".html_safe %>
    <%= f.password_field :password, placeholder: 'Password', class: 'form-control', label: "<span class = 'turn-color'>Password</span><span class = 'red'> *</span>".html_safe %>
    <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control', label: "<span class = 'turn-color'>Password Confirmation</span><span class = 'red'> *</span>".html_safe %>
    <br>
    <%= f.submit "Save and Next", class: 'btn-info btn' %>
  <% end %>
</section>
<br><br><br>
<br><br><br>
