<section class = "put-margin">
  <br><br>
  <h2 class = "BGSU-sign-up turn-color"><strong>Availability! (Step 4 of 4)</strong></h2>
  <p class = "text-sign-up turn-color">Finally, please give us information for if you would like us to share your information, if you would like to mentor
    current BGSU students, if you would like to be contacted, and if you will be attending the 50th year event! All of these are completely optional
    but we would love if you would do any of them!<br><br>Feel free to skip these steps and do this later, however.</p>

</section>

<p id = "homepage-bodytext"></p>

<br>

<section class = "put-margin" id = "">
<%= bootstrap_form_for @user, url: wizard_path do |f| %>
  <%= f.check_box :share, label: "<span style = 'color: #666;' class = 'turn-color'>Would you like to share your information with other alumni?</span>".html_safe, id: "text-heading" %>
  <%= f.check_box :mentor, label: "<span style = 'color: #666;' class = 'turn-color'>Would you like to mentor current BGSU students?</span>".html_safe, id: "text-heading" %>
  <%= f.check_box :contact, label: "<span style = 'color: #666;' class = 'turn-color'>Would you like to be contacted?</span>".html_safe, id: "text-heading" %>
  <%= f.check_box :attending, label: "<span style = 'color: #666;' class = 'turn-color'>Will you be attending the 50th year anniversary event?</span>".html_safe, id: "text-heading" %>
  <br>
  <%= f.submit "Save and Next", class: 'btn-info btn' %>
  <%= link_to 'Skip this Page', next_wizard_path, class: 'btn-info btn' %>
  <%= link_to 'Go Back', previous_wizard_path, class: 'btn-info btn' %>
<% end %>
</section>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br>
