<section class = "put-margin">
  <br><br>
  <h2 class = "BGSU-sign-up turn-color"><strong>Short Description of Yourself and Your Work! (Step 3 of 4)</strong></h2>
  <p class = "text-sign-up turn-color">Here, please give us a short description of both yourself and you work. Your personal description may include your
    you family, life, or any other accomplishments. Your job description may include where you work, how long you have worked for, and what you do. Feel
    free to add any extra information but please keep each on under 250 characters.<br><br>Feel free to skip these steps and do this later, however.</p>

</section>

<p id = "homepage-bodytext"></p>

<br>

<section class = "put-margin" id = "">
<%= bootstrap_form_for @user, url: wizard_path do |f| %>
  <%= f.text_field :location, maxlength: 30, placeholder: 'Where you live', label: "<span class = 'text-sign-up turn-color'>Current Location</span>".html_safe, id: "text-heading" %>
  <%= f.text_area :bio, maxlength: 300, placeholder: 'Short description of yourself', id: "text-heading", label: "<span class = 'text-sign-up turn-color'>Bio</span>".html_safe %>
  <%= f.text_area :business, maxlength: 300, placeholder: 'Short description of where you work', id: "text-heading", label: "<span class = 'text-sign-up turn-color'>Business</span>".html_safe %>
  <br>
    <%= f.submit "Save and Next", class: 'btn-info btn' %>
  <%= link_to 'Skip this Page', next_wizard_path, class: 'btn-info btn' %>
  <%= link_to 'Go Back', previous_wizard_path, class: 'btn-info btn' %>
<% end %>
</section>
<br><br><br>
<br><br><br>
<br><br><br>
