<section class = "put-margin">
  <br><br>
  <h2 class = "BGSU-sign-up turn-color"><strong>Information About Yourself! (Step 2 of 4)</strong></h2>
  <p class = "text-sign-up turn-color">Next we will need to take your profile picture, name, degree you obtained at BGSU, and year you graduated. This will help the fellow us properly
  recognize who you are!<br>

</section>

<p id = "homepage-bodytext"></p>

<br>

<section class = "put-margin" id = "">
<%= bootstrap_form_for @user, url: wizard_path do |f| %>
  <%= f.file_field :image, label: "<span class = 'text-sign-up turn-color'>Profile Picture</span>".html_safe, class: 'photo_upload', id: "text-heading" %>
  <%= f.text_field :firstname, as: :string, maxlength: 20, required: true, placeholder:  "Enter your first name", label: "<span class = 'text-sign-up turn-color'>First Name</span><span class = 'red'> *</span>".html_safe, id: "text-heading" %>
  <%= f.text_field :lastname, as: :string, maxlength: 20, required: true, placeholder:  "Enter your last name", label: "<span class = 'text-sign-up turn-color'>Last Name</span><span class = 'red'> *</span>".html_safe, id: "text-heading" %>
  <%= f.select :degrees, ['B.S. in Computer Science', 'B.A. in Computer Science', 'B.S. in Software Engineering', 'B.S. in Computer Science, Graduate', 'M.S. in Computer Science, Graduate', 'Other'],  label: "<span class = 'text-sign-up turn-color'>Highest Degree Earned at BGSU</span>".html_safe, id: "text-heading" %>
  <%= f.select :year, [1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019], label: "<span class = 'text-sign-up turn-color'>Year Graduated</span>".html_safe, id: "text-heading" %>
  <br>
  <%= f.submit "Save and Next", class: 'btn-info btn' %>
<% end %>
</section>
<br><br><br>
<br><br><br>
