<p><br></p>
<% @users = User.where.not(firstname: '').order(:year) %>
<% if @users.count == 2 %>
  <section class="card-view" ng-class="cardView ? 'show' : 'hide'">
  <h2 class = "put-margin turn-color text-center" id = "text-heading"><strong>Alumni Attending (Ordered by Year Graduated)</strong></h2><br>
  <div class = "put-margin">
    <div class="container-fluid d-flex justify-content-center">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-lg-6">
            <div class="card" style="width: 18rem; height: 280px;">
              <div class="card-body">
                <% @fullname = user.firstname + " " + user.lastname %>
                <h5 class="card-title clearfix do-wrap"><span class = "valign do-wrap"><%= @fullname.truncate(15) %></span><div class = "circle pull-right">
                  <% if user.image_url == nil %>
                    <%= image_tag("default-picture.png", alt: "Profile Picture") %>
                  <% else %>
                    <%= image_tag(user.image_url(:thumb), alt: "Profile Picture") %>
                  <% end %>
                </div></h5>
                <p class="card-text"><strong>Year Graduated: </strong><%= user.year %><br><strong>Location: </strong><%= user.location %>
                <br><strong>Highest Degree at BG: </strong><%= user.degrees %></p>
                <% if user.degrees == "Other" %>
                  <br>
                <% end %>
                <%= link_to "<button class = 'btn-info btn'>Profile</button>".html_safe, user_path(user), class: "other-blue" %>
              </div>
            </div>
            <br>
          </div>
        <% end %>
      </div>
    </div>
    <br><br>
  </div>
</section>
<% end %>

<% if @users.count != 2 %>
<section class="card-view" ng-class="cardView ? 'show' : 'hide'">
  <h2 class = "put-margin turn-color text-center" id = "text-heading"><strong>Alumni Attending (Ordered by Year Graduated)</strong></h2><br>
  <div class = "put-margin">
    <div class="container-fluid d-flex justify-content-center">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem; height: 280px;">
              <div class="card-body">
                <% @fullname = user.firstname + " " + user.lastname %>
                <h5 class="card-title clearfix do-wrap"><span class = "valign do-wrap"><%= @fullname.truncate(15) %></span><div class = "circle pull-right">
                  <% if user.image_url == nil %>
                    <%= image_tag("default-picture.png", alt: "Profile picture") %>
                  <% else %>
                    <%= image_tag(user.image_url(:thumb), alt: "Profile picture") %>
                  <% end %>
                </div></h5>
                <p class="card-text"><strong>Year Graduated: </strong><%= user.year %><br><strong>Location: </strong><%= user.location %>
                <br><strong>Highest Degree at BG: </strong><%= user.degrees %></p>
                <% if user.degrees == "Other" %>
                  <br>
                <% end %>
                <%= link_to "<button class = 'btn-info btn'>Profile</button>".html_safe, user_path(user), class: "color-blue" %>
              </div>
            </div>
            <br>
          </div>
        <% end %>
      </div>
    </div>
    <br><br>
  </div>
</section>
<% end %>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
