</body>
<p id = "homepage-bodytext"></p>
	<div class="container main-section pt-20">
		<div class="row">
			<div class="col-lg-4 col-sm-12 col-12 text-center detail-part">
				<div class="row image-part m-0">
					<div class="col-lg-12 col-sm-12 col-12 user-img">
						<div class="">
              <% if @user.image_url == nil %>
                <%= image_tag("default-picture.png", alt: "Default picture") %>
              <% else %>
                <%= image_tag(@user.image_url, alt: "Profile picture") %>
              <% end %>
						</div>
					</div>
					<div class="col-lg-12 col-sm-12 col-12 user-name" id = "text-heading">
						<% @fullname = @user.firstname + " " + @user.lastname %>
						<h2><%= @fullname %></h2>
					</div><br>
					<div class="col-lg-12 col-sm-12 col-12 user-detail text-left p-2">
						<p>Full Name: <span><%= @fullname %></span></p>
						<p>Email: <span><%= @user.email %></span></p>
            <p>Current Location: <span><%= @user.location %></span></p>
            <p>Degree Obtained at BGSU: <span><%= @user.degrees %></span></p>
						<p>Year Graduated: <span><%= @user.year %></span></p>
					</div>
					<div class="col-lg-12 col-sm-12 col-12 icon-section">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-8 detail-part">
				<div class="container">
          <div class="row">
            <div class="col-lg-12  col-12 bg-white rounded-top tab-head">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About Me</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-12 bg-white">
              <div class="tab-content mt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-lg-12">
                          <h5 class="text-primary mb-1">Bio</h5>
                          <span>
                            <%= @user.bio %>
                          </span>
                        </div>
                        <div class="col-lg-12 mt-2 about-detail">
                            <h5 class="text-primary mb-1">Career</h5>
                            <span>
                              <%= @user.business %>
                            </span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
<body>
	<br><br><br>
	<br><br><br>
	<br><br><br>
