
<section class = "put-margin">
  <br><br>
  <h2 class = "BGSU-sign-up turn-color" id = "text-heading"><strong>Change Your Password</strong></h2>

</section>
<p id = "homepage-bodytext"></p>
<br>

 <section class = "put-margin" id = "">
 <%= bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { method: :put }) do |f| %>
 <%= devise_error_messages! %>
 <%= f.hidden_field :reset_password_token %>

 <div class="field">
   <%= f.label :password, "<span class = 'text-sign-up turn-color'>New Password</span>".html_safe %><br />
   <% if @minimum_password_length %>
     <em class = 'text-sign-up turn-color'>(<%= @minimum_password_length %> characters minimum)</em><br />
   <% end %>
   <%= f.password_field :password, autofocus: true, autocomplete: "new-password", label: "<span class = 'text-sign-up turn-color'>Password</span>".html_safe %>
 </div>

 <div class="field">
   <%= f.label :password_confirmation, "<span class = 'text-sign-up turn-color'>Confirm new password</span>".html_safe %><br />
   <%= f.password_field :password_confirmation, autocomplete: "off", label: "<span class = 'text-sign-up turn-color'>Password Confirmation</span>".html_safe %>
 </div>

 <div class="actions">
   <%= f.submit "Change my password", class: "btn btn-info" %>
 </div>
  <% end %>
</section>
<br><br><br>
<br><br><br>

<br><br><br>
<br><br><br>
