<body>
<section class = "put-margin">
  <p id = "homepage-bodytext"></p>
  <br><br>
  <h2 id = "text-heading" class = "turn-color"><strong>Password Reset Email Verification</strong></h2>

    <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", label: "<span class = 'text-sign-up turn-color'>Email</span>".html_safe %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-info" %>
      </div>
    <% end %>

  </section>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
