
<!DOCTYPE html>
<html lang = "en">

<!-- Body of Home Page -->
<body>
		<!-- Logo over picture on home page -->

	<section id="FiftyYear">
		<div class="container-fluid d-flex align-items-center h-100 justify-content-center">
			<div class = "CSLogo img-fluid put-margin">
				<%= image_tag("letscelebrate.png", :class => "img-fluid", :alt => "BGSU CS 50th Year Anniversary") %>
			</div>
		</div>

	</section>
	<br>

	<section id = "Desciption">
		<div class="container-fluid">
        	<div class="row put-margin">

			<!-- Body Paragraph, probs need to refine this -->
				<div class = "col-lg-8">
					<br>
					<h3 class="text-heading turn-color" id="text-heading"> 50 Years of Computing</h3>

					<p id = "homepage-bodytext"> Since 1969, the Bowling Green Computer Science Department has provided an environment for students
				and faculty alike to pursue their careers in our technological world and advance towards the cutting edge of computing.
				50 years ago, Bowling Green State University realized the potential of computers to change the world and founded our
				department with the vision of producing alumni prepared to enter a workforce with rapidly changing needs. We now celebrate
				the achievements of the last 50 years.
					<br><br>
					Going to the alumni portal will allow you to see all your fellow Falcons who are coming to the event. You can either
					search for specific people, or just get a general sense of the alumni you will see at the event.
					<br><br>
					You may also search for different alumni that are attending the event. This is as simple as making an account and then, once logged in,
					searching for someone by first name, last name, current location, and year graduated.
					<br><br>
					Join us as we come together to share memories and revel in the accomplishments of BGSU’s Department of
				Computer Science. Find and connect with those friends and colleagues that you haven’t met with for a while. Learn about
				the history of our department and those who have been a part of it for so many years. We are proud to invite you to come
				participate in the celebration of providing quality Computer Science education for half of a century.
                </div>

                <div class="col-lg-4 justify-content-center" style = " width = 100%; min-height: 380px;">
                    <!-- Twitter feed integration -->
                    <a class="twitter-timeline" data-width="400" data-height="100%" href="https://twitter.com/BGSU_CS" style= "background-color: blue;">Tweets by bgsu_asf</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
			</div>
		</div>
		<br>
		<div class = "containder-fluid d-flex justify-content-center">
			<div class = "row">
				<div class="col-md-6 justify-content-center">
					<%= image_tag("nationwide-sponsor.png", :class => "img-fluid", :alt => "Nationwide", :style => "max-width:100%; max-height:100%") %>
				</div>
				<div class="col-md-6 justify-content-center">
					<%= image_tag("its-sponsor.png", :class => "img-fluid", :alt => "BGSU ITS", :style => "max-width:100%;max-height:100%") %>
				</div>
			</div>
		</div>
		<br>
	</section>

	<section id = "Leave">
		<div class = "put-margin">
			<div class="container-fluid d-flex justify-content-center">
				<div class="row">
					<div class="col-md-6 justify-content-center">
						<div class="card" style="min-height: 14.5rem; width: 18rem;">
							<div class="card-body">
								<h5 class="card-title">Alumni Portal</h5>
								<p class="card-text">Learn about other attendees coming to the event and see who is coming from your class.</p>
								<br>
								<%= link_to "<button class = 'btn-info btn' style = 'width: 110px; position: relative; bottom: 4%'>Go</button>".html_safe, users_path, class: "color-blue" %>
							</div>
						</div>
					</div>

					<div class="col-md-6 justify-content-center">
						<div class="card" style="min-height: 14.5rem; width: 18rem;">
							<div class="card-body">
								<h5 class="card-title">Confirmed Guests Who Graduated In:</h5>
								<div class = "row">
									<div class = "col-sm-6">
										<p class="card-text">1969 - 1979: <%= @user1970.count %></p>
										<p class="card-text">1980 - 1989: <%= @user1980.count %></p>
										<p class="card-text">1990 - 1999: <%= @user1990.count %></p>
									</div>
									<div class = "col-sm-6">
										<p class="card-text">2000 - 2009: <%= @user2000.count %></p>
										<p class="card-text">2010 - 2019: <%= @user2010.count %></p>
										<% if user_signed_in? %>
											<%= link_to "<button class = 'btn-info btn' style = 'width:110px;'>See Them!</button>".html_safe, users_path, class: "color-blue" %>
										<% else # user not signed it %>
											<%= link_to "<button class = 'btn-info btn' style = 'width:110px;'>Register!</button>".html_safe, new_user_registration_path, class: "color-blue" %>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<br><br>
		</div>
	</section>
<br> <br>
</body>

</html>
