<p id = "homepage-bodytext"></p>
<br><br>
<% if @results.count == 2 %>
	<section>
		<h2 class = "put-margin turn-color text-center" id = "text-heading"><strong>Search Results (Ordered by Year Graduated)</strong></h2><br>
	  <div class = "put-margin">
	    <div class="container-fluid d-flex justify-content-center">
	      <div class="row">
	        <% @results.each do |result| %>
	          <div class="col-lg-6">
	            <div class="card" style="width: 18rem; height: 280px;">
	              <div class="card-body">
	                <h5 class="card-title clearfix do-wrap"><span class = "valign do-wrap"><%= result.firstname %> <%= result.lastname %></span><div class = "circle pull-right">
	                  <% if result.image_url == nil %>
	                    <%= image_tag("default-picture.png") %>
	                  <% else %>
	                    <%= image_tag(result.image_url(:thumb)) %>
	                  <% end %>
	                </div></h5>
									<p class="card-text"><strong>Year Graduated: </strong><%= result.year %><br><strong>Location: </strong><%= result.location %>
									<br><strong>Highest Degree at BG: </strong><%= result.degrees %></p>
									<% if result.degrees == "Other" %>
										<br>
									<% end %>
	                <%= link_to "<button class = 'btn-info btn'>See More</button>".html_safe, user_path(result), class: "other-blue" %>
	              </div>
	            </div>
							<br>
	          </div>
	        <% end %>
	      </div>
	    </div>
	    <br><br>
	  </div>
	</section>
<% end %>

<% if @results.count != 2 %>
	<section>
		<h2 class = "put-margin turn-color text-center" id = "text-heading"><strong>Search Results (Ordered by Year Graduated)</strong></h2><br>
	  <div class = "put-margin">
	    <div class="container-fluid d-flex justify-content-center">
	      <div class="row">
	        <% @results.each do |result| %>
	          <div class="col-lg-4">
	            <div class="card" style="width: 18rem; height: 280px;">
	              <div class="card-body">
	                <h5 class="card-title clearfix do-wrap"><span class = "valign do-wrap"><%= result.firstname %> <%= result.lastname %></span><div class = "circle pull-right">
	                  <% if result.image_url == nil %>
	                    <%= image_tag("default-picture.png") %>
	                  <% else %>
	                    <%= image_tag(result.image_url(:thumb)) %>
	                  <% end %>
	                </div></h5>
									<p class="card-text"><strong>Year Graduated: </strong><%= result.year %><br><strong>Location: </strong><%= result.location %>
									<br><strong>Highest Degree at BG: </strong><%= result.degrees %></p>
									<% if result.degrees == "Other" %>
										<br>
									<% end %>
	                <%= link_to "<button class = 'btn-info btn'>See More</button>".html_safe, user_path(result), class: "color-blue" %>
	              </div>
	            </div>
							<br>
	          </div>
	        <% end %>
	      </div>
	    </div>
	    <br><br>
	  </div>
	</section>
<% end %>

	<br><br><br>
	<br><br><br>
	<br><br><br>
	<br><br><br>
	<br><br><br>
