<% if flash[:notice] %>
     <p class="alert"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
     <p class="alert"><%= flash[:alert] %></p>
<% end %>

<section class = "put-margin">
  <br><br>
  <h2 class = "BGSU-sign-up turn-color" id = "text-heading"><strong>Log In</strong></h2>

</section>
<br>

<p id = "homepage-bodytext"></p>

<section class = "put-margin">
  <%= bootstrap_form_for(resource,
                       as: resource_name,
                       url: session_path(resource_name)) do |f| %>


    <%= f.email_field :email,
                      autofocus: true,
                      class: 'form-control',
                      placeholder: 'email', label: "<span class = 'text-sign-up turn-color'>Email</span>".html_safe%>

    <%= f.password_field  :password,
                          autocomplete: "off",
                          class: 'form-control',
                            placeholder: 'password',
                          label: '<span class = "text-sign-up turn-color">Password</span>'.html_safe %>


    <% if devise_mapping.rememberable? -%>
       <%= f.check_box :remember_me,  id: "text-heading", label: '<span style = "color: gray;" class = "turn-color">Remember Me</span>'.html_safe%>
    <% end -%>

    <br>

    <%= f.submit "Log in", class: 'form-control login-button' %>
  <% end %>

  <br>
  <%= link_to("<button class = 'btn btn-info'>Forgot Password</button>".html_safe, new_user_password_path, id:"forget-password", class:"forget-password") %>
    <!-- <%= button_tag "Forgot Password?", :class => 'btn-info btn',:name => nil%> -->
</section>
<br><br><br><br><br>

<br><br><br><br><br><br><br><br><br><br>
