
<!DOCTYPE html>
<html lang = "en">

<body>
    <section id = "Desciption">
        <div class="container-fluid">
            <div class="row put-margin">

            <!-- Body Paragraph, probs need to refine this -->
                <div class = "col-sm-12">
                    <br>
                    <h3 class="text-heading"> Event Information</h3>

                    <p id = "homepage-bodytext">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br><br>
                    <br><br>
                </div>
            </div>
        </div>
    </section>

<br> </br>
<br> </br>
<br> </br>
</body>

</html>
