// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  height: 100%;
}
body {
    height: 100%;
}

.show{
	display: block;
	bottom: 0;
	visibility: visible;
	position: relative;
	transition: all 1s ease-in-out;
		height: auto;
		z-index: 0;


}
.hide{
	display: block;
	visibility: hidden;
	position: relative;
	height: 0 !important;
	bottom: -1000px;
	z-index: -10;
	transition: all 1s ease-in-out;
}
.control-label{
  color: blue !important;
}
* {
	font-family: 'Arial';
}
.put-margin {
	margin-left: 10%;
	margin-right: 10%;
}

/*	-----Navbar formatting----- */

#navbar {
  background-color: #FF7300;
}

.navbar-toggler {
  color: white;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
-moz-box-shadow: 0 8px 6px -6px #999;
box-shadow: 0 8px 6px -6px #999;
	margin-bottom: 0px;
	border: 0;
	min-height: 30px;
	position: sticky;
	top: 0;
}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* text formatting for navbar */
.navbar li a, .navbar .navbar-brand {
	color: #fff;
	font-family: Tahome, Geneva, sans serif;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
	color: #000000 !important;
	background-color: #fff;
}

/* The active link */
.navbar-nav li.active a {
	color: #fff !important;
	background-color:#29292c !important;
}


/* -----Picture and logo Formatting----- */

/* Section for below navbar with logo */
#FiftyYear {
  background-image: image-url('newbackground.png');
  width:100%;
  height: 400px;
  margin-top: 0px;
  background-repeat:no-repeat;
}

.CSLogo{

}

/* -----Body Text Formatting ----- */

/* Text Heading */
.text-heading{
	font-family: Tahome, Geneva, serif;
	border-bottom:1px solid #CCC;
    padding-bottom: 3px;
}

#homepage-bodytext{
	font-family: Tahome, Geneva, sans serif;
}



/* Sponsor image */
.sponsor-image{
	width: 100%;
}


/* ------Footer -----*/

footer {
	background: #2E271E;
	text-decoration: none;
	color: white;
	min-height: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  box-shadow:inset 0 15px 5px -16px #111;
}

.footer-date {
	margin-top: 10px;
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: 'Verb';
}

.the-color-white {
	color: white;
}

.pull-right {
	float: right;
}

a:link {
	color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: white;
}

.color-blue:visited {
	color: blue;
}

.color-blue:link {
	color: white;
}

/* mouse over link */
.color-blue:hover {
  color: orange;
}

/* selected link */
.color-blue:active {
  color: white;
}

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px !important;
}



.like-link:hover{
  color: orange;
  text-decoration: underline;
}
