#sign-up-form {
    margin-top: 100px;
    h1 {
      font-size: 36px !important;
      font-size: 3.6rem !important;
    }
    text-align: center;
    padding-bottom: 20px;
  }

.BGSU-sign-up {
  text-transform: uppercase;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  color: #444;
  font-size: 2.0em;
  line-height: 1.2em;
}

.text-sign-up {
  line-height: 1.8em;
  margin-bottom: 20px;
  font-size: 20px;
  color: #666;
}

.red{
  color: red;
}
