// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle {
    line-height: 0;        /* remove line-height */
    display: inline-block;    /* circle wraps image */
    margin: 5px;
    border-radius: 50%;    /* relative value */
    border: 3px solid white;/* border width   */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    transition: linear 0.25s;
  right: 50px;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
.circle img {
    border-radius: 50%;    /* relative value for
                   adjustable image size */
}
.circle:hover {
    transition: ease-out 0.3s;
    transform: scale(0.8) rotate(20deg);
}
a.circle { color: transparent; } /* IE fix: removes blue border */

.do-wrap {
  word-wrap: break-word;
}

.valign {
  height: 70px;
  line-height: 70px;
  white-space: nowrap;
}

body{
	background-color: WhiteSmoke;
}
.main-section{
	font-family: 'Ariel';
	margin-top: 100px;
}
.detail-part{
	margin-bottom: 10px;
}
.image-part{
	background-color: #fff;
}
.image-part .user-img img{
	width:50%;
	margin-top:30px;
}
.user-name h2{
	margin-top:10px;
	font-size:22px;
	font-weight: bold;
	letter-spacing: 2px;
}
.information-button{
	margin-bottom:5px;
}
.user-name p{
	font-size:20px;
}
.user-detail p{
	color:black;
	padding-left:30px;
	margin:5px;
}

.user-detail span{
	color:#b2b2b2;
}
.tab-head{
	padding: 10px;
}
.tab-content{
	padding-bottom: 10px;
}
.about-detail h5{
	margin-top: 10px;
}
.about-detail .website{
	margin-top:6px;
}
.contact-detail p{
	color:black;
	margin:5px;
}
