<p>Welcome <%= @email %>!</p>

<p>Thank you for signing up for the event for the 50th anniversary of BGSU's Computer Science Department. If you did not sign up, please ignore
  this message. If you did sign up, please comfirm your email by clicking this link:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
