<!-- Footer updated 04/03/19 -->

<footer id = "this-footer">
  <br>
  <div class="container-fluid">
      <div class="row put-margin">
          <div class="col-xl-3">
            <a href="https://www.bgsu.edu">
                <img src="//services.bgsu.edu/bgsulibs/theme/1.1.0/images/logo.png" alt="Footer Logo">
              </a>
                <p class="footer-date">
                  Bowling Green State University<br>
                  Bowling Green, Ohio<br>
                  43403-0001 <br>
                  419-372-2531
                </p>
              <div class="footer-social social_links parbase">

              </div>
              <p class="footer-date" style="clear:both;padding-top: 15px;">
                <a href="http://www.bgsu.edu/give" target="_blank">
                  <span class="search-text white-link">Make A Gift</span>
                  <span class="ss-icon ss-pika" style="vertical-align: middle;"></span>
      </a>
              </p>
          </div>

          <div class="col-xl-3">
            <ul class="footer-nav link-white" style = "list-style: none; clear: left; line-height: 20px;">
                <li><a href="https://www.bgsu.edu/a-z-links.html"><strong>A-Z Links</strong></a></li><br>
                <li><a href="https://www.bgsu.edu/students.html"><strong>Students</strong></a></li><br>
                <li><a href="https://www.bgsu.edu/faculty-staff.html"><strong>Faculty/Staff</strong></a></li><br>
                <li><a href="https://www.bgsu.edu/parents.html"><strong>Parents</strong></a></li><br>
                <li><a href="https://www.bgsu.edu/employment.html"><strong>Employment</strong></a></li><br>
                <li><a href="https://www.bgsu.edu/library.html"><strong>Libraries</strong></a></li><br>
                <li><a href="http://www.firelands.bgsu.edu/"><strong>Firelands</strong></a></li><br>
                <li><a href="https://services.bgsu.edu/directorySearch/search.htm"><strong>Directory</strong></a></li><br>
                <li><a href="https://www.bgsu.edu/its.html"><strong>Technology Support</strong></a></li><br>
              </ul>
          </div>

          <div class="col-xl-6">
            <p style="font-size: 14px; line-height: 1.4em; font-family: 'Verb'">
              <strong>ACCESSIBILITY</strong>
            </p>
            <p style="font-size: 14px;"><a href="/accessibility.html"><span class="fa fa-wheelchair-alt" style="vertical-align: middle;" aria-hidden="true"></span><strong>Report an Issue</strong></a></p>
            <p style="font-size: .8em; line-height: 1.4em; font-family: 'Verb'"><strong>Accessibility Enhanced Pages</strong></p>
            <p style="font-size: .8em; line-height: 1.4em; font-family: 'Verb'">BGSU offers alternative versions of all of its pages for our users. You can select the high-contrast version below to persist throughout your BGSU website experience.
            </p>
            <p style="font-size: 14px;cursor: pointer;" class = "like-link"><a onclick="changeBodyBg('WhiteSmoke', 'white', '#2E271E', '#212529', '#FF7300', '#2d261d');"><span class="fa fa-wheelchair-alt" style="vertical-align: middle;" aria-hidden="true"></span><strong>High Contrast Colors</strong></a></p>
            <p style="font-size: 12px; line-height: 1.4em; font-family: 'Verb'">Bowling Green State University (BGSU) has built its website around the Standards of the World Wide Web Consortium's (W3C) Hyper Text Markup Language (HTML) 5 and Cascading Style Sheets (CSS). The website was built in compliance with the accessibility standards established by section 508 of the Rehabilitation Act and detailed in section 1194.22 of the Code of Federal Regulations, "Web-based intranet and internet information and applications" (<a href="https://www.section508.gov/">https://www.section508.gov/</a>).</p>

            <p style="font-size: 12px; line-height: 1.4em; font-family: 'Verb'">BGSU utilizes many webmasters across campus to maintain all of its web properties. Keeping the BGSU website in compliance with section 508 is a joint effort between Accessibility Services, Marketing and Communications and Information Technology Services. If any page is discovered to be inaccessible, please report it using the above link and we will ensure that the issue is addressed.</p>

            <p style="font-size: 14px; line-height: 1.4em; font-family: 'Verb'"><strong>EVENTS</strong></p>

            <p style="font-size: 12px; line-height: 1.4em; font-family: 'Verb'">To our guests with disabilities, please indicate if you need special services, assistance or appropriate modifications to fully participate in this event by contacting&nbsp;Accessibility Services, <a href="mailto:access@bgsu.edu">access@bgsu.edu</a>, 419-372-8495. Please notify us prior to the event.</p>

            <p style="color: #636363;"></p>
          </div>
      </div>
    </div>
  </footer>
