<nav class="navbar navbar-expand-lg fixed-top" id = "navbar">
  <!-- Brand -->
  <a class=" navbar-nav navbar-brand" href="https://www.bgsu.edu">
  	<%= image_tag("logo.png", alt: "BGSU logo") %>
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		  <% if user_signed_in? %>
		  <ul class="navbar-nav">
			<li class="nav-item">
			  <%= link_to "Home", root_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
			  <%= link_to "Alumni Portal", users_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to 'Edit profile', edit_user_registration_path, class: "nav-link"  %>
			</li>
			<li class="nav-item">
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<pre>          </pre><!-- literally blank space bc search form wouldnt right align -->
			</li>
    </ul>
      <ul class = "navbar-nav ml-auto">
			<li class="nav-item justify-content-center">
			<%= form_tag(search_page_path, :method => "get", class: '') do %>
  				<li class="input-group" style = "width: 100%;">
    				<%= search_field_tag :search, params[:search], placeholder: "Search For Alumni", class: "form-control" %>
    				<div class="input-group-btn">
      					<%= button_tag "Search", :class => 'btn-info btn glyphicon glyphicon-search',:name => nil%>
    				</div>
    			</li>
 			</li>
    </ul>
<% end %>

		  <% else # user not signed it %>
		  <ul class="navbar-nav">
			<li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
        <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to 'Register', new_user_registration_path, class: "nav-link"  %>
			</li>
		  </ul>

      <% end %>
  </div><!-- navbar-collapse -->


  <div class="collapse navbar-collapse" id="collapsibleNavbar">

  </div>
</nav>
