<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>50th Year Anniversary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>BGSU Computer Science | 50th Anniversary</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="CSS-pages/bootstrap.css">
	  <link rel="stylesheet" href="CSS-pages/testStyle.css">

	  <!-- Other Things -->
	  <meta name = "description" content = "ASF Challenge website">
	  <meta name = "keywords" content = "BGSU, Bowling Green, ASF Sprint Challenge, Computer Science, 50 year anniversary">
	  <meta name = "authors" content = "Benjamin Spisak, Adam Coger">

		<!-- favicon -->
		<%= favicon_link_tag asset_path('bgsuIcon.png'), :rel => 'icon', :type =>  'image/png' %>
	  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	  <link rel="manifest" href="/site.webmanifest">
	  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
	  <meta name="msapplication-TileColor" content="#da532c">
	  <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
